<!DOCTYPE html>
<html>
<head>
    <title>Passport-SAML Example</title>
</head>
<body>
<% if (!user) { %>
<p>
    <a href="/">Home</a> |
    <a href="/login">Log In</a>
    <h2>Welcome! Please log in.</h2>
</p>
<% } else { %>
<p>
    <a href="/">Home</a> |
    <a href="/account">Account</a>
    <h2>Hello, <%= user.FirstName %> <%= user.LastName %>.</h2>
</p>
<% } %>

</body>
</html>
